body {
	background-image: url(images/background.jpg);
	color: #fff;
	text-shadow: 2px 2px 3px black;
}

.myface {
	border-radius: 50%;
	width: 200px;
}

.social {
	color: inherit;
	text-decoration: none;
}

.social:hover {
	color: grey;
}