#footer-container
  h4 Contact Me:
  a(href='mailto:jaredshane@gmail.com')
    img(src='images/email.png')
  a(href='mailto:jaredshane@gmail.com')
    p jaredshane@gmail.com
  a(href='https://github.com/jaredshane')
    img(src='images/github-icon.png')
  a(href='https://github.com/jaredshane')
    p jaredshane
  a(href='https://www.linkedin.com/in/jaredshane/')
    img(src='images/linkedin.png')
  a(href='https://www.linkedin.com/in/jaredshane/')
    p Jared Fuller
  
  
  
  
  
  
  
  
