.navbar-fixed
  nav
    .nav-wrapper
      span.name Jared Fuller
      ul.right
        li
          a(href='/') 
            span.nav_bar(class={ selected: !page}) Home
        li.fun
          a(href='/fun')
            span.nav_bar(class={ selected: page === 'Fun'}) Fun
        li.projects  
          a(href='/projects')
            span.nav_bar(class={ selected: page === 'Projects'}) Projects
