.navbar-fixed
  nav
    .nav-wrapper
      span.name Jared Fuller
      ul.right(class='hide-on-med-and-down')
        li
          a(href='/') 
            span(class={ selected: !page}) Home
        li.about
          a(href='/about')
            span(class={ selected: page === 'About'}) About
        li.projects  
          a(href='/projects')
            span(class={ selected: page === 'Projects'}) Projects
