extends index.pug

block content
  .container
    .row.projects 
      each project in projects
        .project_container
          a(href=project.githubRepo)
            h4 #{project.title} 
          p #{project.summary}
          //- p #{project.description}
        
