@media only screen and (min-width: 768px) {
  #footer-container {
    border-top: 2px solid black;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 1em;
    padding-left: 30%;
  }

  #footer-container h4 {
    display: inline;
    font-size: 30px;
  }

  #footer-container img {
    margin: .5em;
    margin-bottom: -.7em;
    display: inline;
    width: 2em;
    height: 2em;
  }

  #footer-container a p {
    display: inline;
  }

  #footer-container p {
    color: black;
    margin-right: 2em;
  }

}
