html {
  background-color: #010001;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  color: white
}

.content {
  background-color: white;
  opacity: 0.8;
  padding-top: 10px;
}

.me {
  border-radius: 7%;

}

.home {
  padding-top: 3em;
}


.techList {
  border-top: 1px solid black;

}

.techPic {
  margin: 1.5em;
  height: 100px;

}

.techPic:hover {
  background: rgba(25, 25, 25, .1)
}
